
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="wrapperDashboard1">
    <div class="moderator-dashboard-left">
        <p><h2>Quizzes: @ViewBag.QuizzesCount</h2></p>
        <p>Active: @ViewBag.ActiveQuizzesCount</p>
        <p>Inactive: @ViewBag.InactiveQuizzesCount</p>
        <p><h2>Questions: @ViewBag.QuestionsCount</h2></p>
        <p>Active: @ViewBag.ActiveQuestionsCount</p>
        <p>Inactive: @(ViewBag.QuestionsCount - ViewBag.ActiveQuestionsCount)</p>        
    </div>

    <div class="moderator-dashboard-right">
        <p><h2>User groups: @ViewBag.UserGroupsCount</h2></p>
        <p>Active: @ViewBag.ActiveUserGroups</p>
        <p>Archived: @ViewBag.ArchivedUserGroups</p>
        <p>Students: @ViewBag.StudentsCount</p>
    </div>
</div>
@section HeadStyles
{
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

}
@section PageHeader{
    @{
        Html.RenderPartial("~/Areas/Moderator/Views/Shared/_Header.cshtml");
    }
}

